.panel {
    margin: auto;
}

.pre-view, #printer-warp {
    /*height: 127mm;*/
    /*width: 186mm;*/
    position: relative;
    background: lightblue;
    margin-left: -15mm;
    margin-top: -1mm;
}

.pre-view p {
    /*line-height: 1cm;*/
}

.pre-view span {
    display: inline-block;
    position: absolute;
}


#p-1-1 {
    left: 146mm;
    top:12mm;
}

#p-2-1 {
    left: 35mm;
    top:22mm;
}

#p-2-2 {
    left: 73mm;
    top:22mm;
}

#p-2-3 {
    left: 112mm;
    top:22mm;
}

#p-2-4 {
    left: 147mm;
    top:22mm;
}

#p-3-1 {
    left: 45mm;
    top:29mm;
}

#p-3-2 {
    left: 90mm;
    top:29mm;
}

#p-3-3{
    left: 140mm;
    top:29mm;
}

#p-4-1{
    left:45mm;
    top:34mm;
}
#p-4-2{
    left:90mm;
    top:34mm;
}
#p-4-3{
    left:140mm;
    top:34mm;
}
#p-5-1{
    left: 45mm;;
    top:40mm;
}

#p-6-1 {
    left: 84mm;
    top:48mm;
    /*visibility: hidden;*/
}

#p-6-2 {
    left: 120mm;
    top:48mm;
    /*visibility: hidden;*/
}
#p-7-1{
    left:45mm;
    top:52mm;
}
#p-8-1{
    left:45mm;
    top:59mm;
}
#p-9-1{
    left:45mm;
    top:67mm;
}


#p-9-2 {
    left: 90mm;
    top:67mm;
}

#p-9-3 {
    left: 140mm;
    top:67mm;
}

#p-10-1 {
    left: 45mm;
    top:76mm;
}